{% extends 'base.html' %}
{% block content %}
<section class="content">
  <h2>About Me</h2>
  <p>I'm Sooraj, a Junior Software Developer from Palakkad, India. I enjoy building full-stack applications with a focus on reliability, clean code, and practical UX.</p>

  <h3>Experience & Focus</h3>
  <ul>
    <li>Django for backend APIs and admin tooling</li>
    <li>React for interactive front-ends</li>
    <li>CI/CD using GitHub Actions and Docker</li>
    <li>A commitment to staying updated with python advancement and industry trends.</li>

  </ul>

  <h3>Education</h3>
  <p>Bachelor's in Mechatronics engineering with handfull of skills in programming languages and algorithms.</p>
  <p>Successfully submitted our project on ICSET-2023 at Thailand.</p>
  <p>We presented our project based on "Motorized IV pole with IV bag refill notification"</p>
  <p>This system accurately tracks the fluid flow and assist the user in monitoring the infusion.</p>


</section>
{% endblock %}
